/*About Us styling*/
.aboutUsNav{
    background-image: url("../img/Centerville_Art1.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 160px;
}


.aboutUSnavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(136, 108, 63, 0.809);
    border-radius: 10%;
}

.aboutUsMain{
   display: flex;
}

.aboutHeader{
    font-family: Rubik Lines;
    color: rgb(187, 12, 73);
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.aboutUsPara{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 2%;
}

/*Services styling*/
.servicesNav{
    background-image: url("../img/Bridgewater_Art2.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 160px;
}

.servicesNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(80, 106, 20, 0.809);
    border-radius: 10%;
}

.servicesHeader{
    font-family: Rubik Lines;
    color: rgb(35, 75, 34);
    font-size: 50px;
    display: flex;
    justify-content: center;
}



table{
    background-color: rgba(30, 41, 4, 0.642);
    border-radius: 5%;
    height: 300px;
    width: 28%;
    margin: 2%;
    padding: 2%;

}

thead th{
    font-size: 30px;
    color: rgb(245, 184, 18);
}

tbody{
    color: white;
    font-size: 18px;
}

.servicesProcuts{
    float: left;
}
.servicesProstyles{
    float: left;
}

.servicesProcolor{
    float: right;

}

/*Products styling*/
.productsNav{
    background-image: url("../img/Dennis_Art1.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 160px;
}

.productsNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 10%;
    background-color: rgba(248, 185, 216, 0.658);
}

.productsHeader{
    font-family: Rubik Lines;
    color: rgb(30, 41, 77);
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.procutsProductsImgs{
    height: 500px;
    width: 66%;
}
.logoSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productLogos{
    width: 8%;
    height: 100px;
    margin: 5%;
    border-radius: 20%;
}

.imgSlides{
    display: flex;
    justify-content: center;
    background-image: url("../img/Orleans_Art1.png");
    background-repeat: space repeat;
    border-radius: 5%;
}

/*Careers styling*/
.careersNav{
    background-image: url("../img/Mashpee_Art2.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 160px;
}

.careersNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 10%;
    background-color: rgba(248, 128, 0, 0.658);
}


.careerBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}



.careerBody h1{
    font-family: Rubik Lines;
    color:  rgba(248, 128, 0, 0.97);
    font-size: 30px;
}

.careerSection{
    background-color: rgba(179, 188, 160, 0.717);
    width: 60%;
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.careerSection p{
    text-align: center;
    font-size: 18px;
}


/*locations styling*/
.locationsNav{
    background-image: url("../img/Centerville_Art2.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 160px;
}

.locationsNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 10%;
    background-color: rgba(230, 78, 78, 0.658);
}

.locationMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.locationMain section{
    background-color: rgba(254, 172, 70, 0.322);
    margin: 2%;
    text-align: center;
    border-radius: 5%;
}

/*home styling*/
.homeNav{
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 160px;
}

.homeNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 10%;
}

.homeTop h1{
    font-family: Caveat;
    font-size: 75px;
    color: red;
    text-align: center;
}

.homeMain .links{
    display: flex;
    justify-content: center;
    margin: 0 -60%;
}

.homeMain .links section{
    display: flex;
    justify-content: center;
    width: 28%;
    height: 200px;
    text-align: center;
}

.homeMain .links section a{
    text-decoration: none;
    color: red;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeBottomLeft{
    background-color: black;
}

.homeBottomRight{
    background-color: black;
}



 



