/*About Us styling*/
.aboutUsNav{
    background-image: url("../img/Centerville_Art1.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 130px;
}

section.aboutUSnavLinks{
    text-align: center;
    width: 100%;
    background-color: #7e5c45;
}


.aboutUSnavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 1%;
}

.aboutUSnavLinks a:hover {
    color: rgb(187, 12, 73);
   }
 

.aboutUsMain{
   display: flex;
}

.aboutHeader{
    font-family: Rubik Lines;
    color: rgb(187, 12, 73);
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.aboutUsPara{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin: 2%;
    padding: 5%;
    background-color: rgba(187, 12, 73, 0.669);
    border-radius: 10%;
    color: white;
    box-shadow: 10px 5px 5px grey;
    width: 35%;

}

.warehamProcuts{
    width: 50%;
    border-radius: 20%;
    margin: 5%;
}

/*Services styling*/
.servicesNav{
    background-image: url("../img/Bridgewater_Art2.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 130px;
}

section.servicesNavLinks{
    text-align: center;
    width: 100%;
    background-color: rgb(123, 136, 93);
}

.servicesNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 1%;
}

.servicesNavLinks a:hover {
    color: rgb(245, 184, 18);

   }

.servicesHeader{
    font-family: Rubik Lines;
    color: rgb(35, 75, 34);
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-shadow: 10px 5px 5px  rgb(245, 184, 18);

}

section.servicesList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



table{
    background-color: rgba(30, 41, 4, 0.642);
    border-radius: 5%;
    height: 300px;
    width: 28%;
    margin: 2%;
    padding: 2%;
    box-shadow: 10px 5px 5px grey;

}

thead th{
    font-size: 30px;
    color: rgb(245, 184, 18);
}

tbody{
    color: white;
    font-size: 18px;
}

.servicesProHighlights{
    width: 50%;
}

.servicesNotes{
 border: 2px dotted green;
 width: 35%;
 text-align: center;
}

.fa-star:before{
    font-size: 18px;
}

/*Products styling*/
.productsNav{
    background-image: url("../img/Dennis_Art1.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 130px;
}

section.productsNavLinks{
    text-align: center;
    width: 100%;
    background-color: rgb(239, 206, 223);
}

.productsNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 1%;
}

.productsNavLinks a:hover {
    color: rgb(33, 39, 126);

   }

.productsHeader{
    font-family: Rubik Lines;
    color: rgb(30, 41, 77);
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-shadow: 10px 5px 5px   rgb(239, 206, 223);

}

.procutsProductsImgs{
    height: 500px;
    width: 66%;
}
.logoSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productLogos{
    width: 8%;
    height: 100px;
    margin: 5%;
    border-radius: 20%;
}

.imgSlides{
    display: flex;
    justify-content: center;
    background-image: url("../img/Orleans_Art1.png");
    background-repeat: space repeat;
    border-radius: 5%;
}

/*Careers styling*/
.careersNav{
    background-image: url("../img/Mashpee_Art2.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 130px;
}

section.careersNavLinks{
    text-align: center;
    width: 100%;
    background-color: rgb(255, 132, 0);
}

.careersNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 1%;

}

.careersNavLinks a:hover {
    color: rgb(84, 52, 31);

   }



.careerBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}



.careerBody h1{
    font-family: Rubik Lines;
    color:  rgb(104, 62, 38);
    font-size: 50px;
    text-shadow: 10px 5px 5px rgba(248, 128, 0, 0.97);
}

.careerSection{
    background-color: rgba(179, 188, 160, 0.717);
    width: 60%;
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.careerSection p{
    text-align: center;
    font-size: 18px;
}


/*locations styling*/
.locationsNav{
    background-image: url("../img/mb_art3.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 130px;
}

section.locationsNavLinks{
    text-align: center;
    width: 100%;
    background-color: rgb(141, 200, 248);
}

.locationsNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 1%;
}

.locationsNavLinks a:hover {
    color: rgb(84, 52, 31);

   }

.locationMain{   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.locationMain div{
    text-align: center;
    margin: 2% 0%;
}

.locationMain div h2{
    font-family: Rubik Lines;
    font-size: 50px;
    color: rgb(84, 52, 31);
    text-shadow: 10px 5px 5px rgb(141, 200, 248);

}

.locationMain div p{
    font-family: Rubik Lines;
    font-size: 30px;
    color: rgb(84, 52, 31);
}

.locationMain a{
    text-decoration: none;
    color: white;
    background-color: rgb(141, 200, 248);
    border: 2px solid rgb(141, 200, 248);
    border-radius: 8%;
}



.allLocations{
    background-image: url("../img/bw_art1.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border-radius: 10%;
}

.allLocations section{
    width: 30%;
    padding: 1%;
    background-color: rgba(133, 132, 131, 0.671);
    margin: 2%;
    text-align: center;
    border-radius: 5%;
    color: white;
    box-shadow: 10px 5px 5px rgb(255, 255, 255);

}





/*home styling*/
.homeNav{
    background-image: url("../img/mb_art6.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 130px;
}

section.homeNavLinks{
    text-align: center;
    width: 100%;
    background-color: #ec9e65;
}

.homeNavLinks a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 1%
}

.homeNavLinks a:hover {
   color: rgb(142, 131, 120);
  }

.homeTop h1{
    font-family: Rubik Lines;
    font-size: 75px;
    color: grey;
    text-align: center;
    text-shadow: 10px 5px 5px rgb(237, 184, 119);
}

.homeMain .links{
    display: flex;
    justify-content: center;
    margin: 0 -60%;
}

.homeMain .links section{
    display: flex;
    justify-content: center;
    width: 33%;
    height: 250px;
    text-align: center;
}

.homeMain .links section a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeBottomLeft{
    background-image: url("../img/mb_art1.png");
    margin-right: 5%;
    display: flex;
    border-radius: 10%;
    box-shadow: 10px 5px 5px grey;
}

.homeBottomMiddle{
    background-image: url("../img/mb_art7.png");
    margin-right: 5%;
    border-radius: 10%;
    box-shadow: 10px 5px 5px grey;
}

.homeBottomRight{
    background-image: url("../img/mb_art1.png");
    border-radius: 10%;
    box-shadow: 10px 5px 5px grey;
}

.fa-solid{
    color: white;
    font-size: 50px;
    margin: 5%;
}



 



